{% extends 'base.html' %}
{% block title %}URL Shortner{% endblock %}
{% block content %}
<div class="container">

    <div class="row mb-5">
    <div class="col">
        <h3 class="text-center">Website</h3>
    <form action="your-url" method="POST">
        <div class="">
        <label for="url" class="form-label">Website URL</label>
        <input class="form-control" type="url" name="url" value="" required><br>
        </div>
        <div class="">
        <label for="code" class="form-label">Short Name</label>
        <input class="form-control" type="text" name="code" value="" required><br>
        </div>
        <div class="d-grid gap-2">
        <input class="btn btn-secondary" type="submit" value="Shorten">
        </div>
    </form>
    </div>
    <div class="col">
        <h3 class="text-center">File</h3>
    <form action="your-url" method="POST" enctype="multipart/form-data">
        <div class="">
        <label for="file" class="form-label">File</label>
        <input class="form-control" type="file" name="file" value="" required><br>
        </div>
        <div class="">
        <label for="code" class="form-label">Short Name</label>
        <input class="form-control" type="text" name="code" value="" required><br>
        </div>
        <div class="d-grid gap-2">
        <input class="btn btn-secondary" type="submit" value="Shorten">
        </div>
    </form>
    </div>
    </div>

    {% if codes %}
        <h2>Codes you have created</h2>
        <ul>
            {% for code in codes %}
            <a href="{{ url_for('urlshort.redirect_to_url', code=code) }}" target="_blank" rel="noreferer">
                <li>{{ code }}</li>
            </a>
            {% endfor %}
        </ul>
    {% endif %}

</div>
{% endblock %}